<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>template test</title>
<script src="../template.js"></script>
</head>

<body>
<h1>在javascript中存放模板</h1>
<script>
var tmpl = '<ul>'
+    '<% for (var i = 0; i < list.length; i ++) { %>'
+        '<li>索引 <%= i + 1 %> ：<%= list[i] %></li>'
+    '<% } %>'
+'</ul>';

var render = template.compile(tmpl);
var html = render({
    list: ['设计', '代码', '咖啡', '唱片']
});

document.write(html);
</script>
</body>
</html>