language: node_js
node_js:
  - 6
cache:
  directories:
    - node_modules
branches:
  only:
  - master
  - 4.0.0
install:
  - npm install
script:
  - npm run build
  - npm test
after_success:
  - npm run coverage