<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>artTemplate tools</title>
</head>

<body>
<p>
  <textarea title="source" id="tmpl-source" name="source" cols="80" rows="12"><html>
  <head>
    <title></title>
  </head>
  <body>
  <script id="list" type="text/html">
    <!--test-->
    <% for (var i in list) { /*test*/%>
        <li><%=list[i] === 'tang' ? 'tang' : 'bin'%></li>
    <% } %>
  </script> 
  <script id="test" type="text/html">
    <% for (var i in test) { %>
        <li><%=i%>:         -<%=test[i]%></li>
    <% } %>
  </script>
  <script id="test2" type="text/html"><%=include('test')%>
<!--hello wrold--><%/*hello world*/%><%//hello world%>//\\""''</script>
  </body>
</html></textarea>
</p>
<p style="font-size:12px">
    <button id="submit">combine</button> 
    <label> openTag:<input id="openTag" type="text" value="<%" style="width:4em" /> </label>
    <label> closeTag:<input id="closeTag" type="text" value="%>" style="width:4em" /> </label>
</p>
<p>
  <textarea id="tmpl-code" name="code" cols="80" rows="12"></textarea>
</p>
<script src="../src/template.js"></script>
<!-- <script src="../src/extensions/template-syntax.js"></script> -->
<script>
var getConfig = function () {
    return {
        openTag: document.getElementById('openTag').value,
        closeTag: document.getElementById('closeTag').value,
        tag: /<script([^>]*?)>([\w\W]*?)<\/script>/ig,
        type: /type=("|')text\/html\1/i,
        id: /id=("|')([^"]+?)\1/i
    };
}

document.getElementById('openTag').value = template.openTag;
document.getElementById('closeTag').value = template.closeTag;

 
if (!Array.prototype.forEach) {

    Array.prototype.forEach =  function(block, thisObject) {
        var len = this.length >>> 0;
        
        for (var i = 0; i < len; i++) {
            if (i in this) {
                block.call(thisObject, this[i], i, this);
            }
        }
        
    };
    
}

if (!String.prototype.trim) {

    String.prototype.trim = (function () {
        var trimLeft = /^\s+/, trimRight = /\s+$/;
        
        return function () {
			return this == null ?
				'' :
				this.toString().replace(trimLeft, '').replace(trimRight, '');
        };
    })();
    
}

/** 模板合并 */
var combine = function (code) {
    
    var $config = getConfig();
    var rtag = $config.tag;
    var rtype = $config.type;
    var rid = $config.id;
    
    var string = [];
    
    // 提取模板片段
    while ((val = rtag.exec(code)) !== null) {
        if (rtype.test(val[1])) {
            string.push(compress(val[1].match(rid)[2], val[2], $config));
        }
    }
    
    string = string.join('\r\n')
    if (!string) {
        string = compress('{id}', code, $config);
    }
    
    return string;
};

/** 压缩模板 */
var compress = function (id, code, $config) {
    
    var openTag = $config.openTag;
    var closeTag = $config.closeTag;
    
    if (typeof template !== 'undefined') {
        openTag = template.openTag;
        closeTag = template.closeTag
    }

    function html (text) {
        return text
        // 多个空格合并
        .replace(/\s+/g, ' ')
        // 反斜杠转义
        .replace(/\\/g, "\\\\")
        // "'" 转义
        .replace(/'/g, "\\'")
        // 去除 HTML 注释
        .replace(/<!--(.|\n)*?-->/g, '')
        // 去除多余制表符、TAB符、回车符
        .replace(/\n/g, '')
        .replace(/[\r\t]/g, ' ');
    };
    
    function logic (text) {
        text = text
        // 去除 js 注释
        .replace(/\/\*(?:.|\n)*?\*\/|\/\/[^\n]*\n|\/\/[^\n]*$/g, '')
        // "'" 转义
        .replace(/'/g, "\\'")
        // 去除多余制表符、TAB符、回车符
        .replace(/\n/g, '')
        .replace(/[\r\t]/g, ' ');
        return openTag + text.trim() + closeTag;
    };

    // 语法分析
    var strings = '';
    code.split(openTag).forEach(function (text, i) {
        text = text.split(closeTag);
        
        var $0 = text[0];
        var $1 = text[1];
        
        // text: [html]
        if (text.length === 1) {
            
            strings += html($0);
         
        // text: [logic, html]
        } else {
                   
            strings += logic($0);    
            
            if ($1) {
                strings += html($1);
            }
        }
        

    });

    code = strings;

    // ANSI 转义
    var unicode = [], ansi;
    for (var i = 0 ; i < code.length; i ++) {
        ansi = code.charCodeAt(i);
        if (ansi > 255) {
            unicode.push('\\u' + ansi.toString(16));
        } else {
            unicode.push(code.charAt(i));
        } 
    }
    code = unicode.join('').trim();

    
    code = "template.compile('" + id + "', '" + code + "');";
    
	return code;
};

</script>
<script>
document.getElementById('tmpl-source').onclick = function () {
    this.select();
};

document.getElementById('submit').onclick = function () {
	var source = document.getElementById('tmpl-source').value;
	document.getElementById('tmpl-code').value = combine(source);
	document.getElementById('tmpl-code').select();
	return false;
};

</script>
</body>
</html>
